# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# Dados sensíveis / gerados em tempo de execução
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
logs/*.log
!logs/.gitkeep

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
